body {
    background-color: blue;
}

h2 {
    color: aqua;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;    
}

p {
    color: red;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: yellow;
    text-align: center;
    font-size: 30px;
}

h4 {
    color: aqua;
    text-align: center;
    font-size: 14px;
}

ul {
    color: orange;
    text-align: center;
}

ol {
    color: red;
    text-align: center;
}

h5 {
    color: green;
    text-align: center;
}

h6 {
    color: orangered;
    text-align: center;
}